.board.active,
.board-item.active{
    background: lime;
}

.board-item{
    .password-toggle{
        right: 5px;
        top: 4px;
    }
}

.password-toggle{
    position: absolute;
    right: 15px;
    top: 0;
}
