@import "mixin";
@import "clipboard";
//@import "theme";
//@import "themes/flatly.css";

$bg-primary: #78C2AD;
$bg-secondary: #F3969A;
$bg-light: #f8f9fa;
$bg-dark: #343a40;

$white: #fff;

.debug{
    position: fixed;
    bottom: 20px;
    left: 20px;
    border: solid 2px red;
    background-color: black;
    color: white;
    z-index: 9999999;
    padding: 30px;
}
.loading{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: .1;
    z-index: 1;

    > * {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.spin {
    //color: black;
    font-size: 2rem;
    animation: animate 3s infinite ease-in-out;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}

.draggable:hover,
.draggable:focus{
    cursor: grab;
}

.form-group{
    position: relative;
}
.board-item{
    > * {
        position: relative;
    }
}

//header {
//    img{
//        display: block;
//        margin: 0 auto;
//        max-width: 100%;
//        border-radius: 300px;
//        overflow: hidden;
//    }
//    &.cp{
//        img{
//            display: none;
//        }
//    }
//}

main{
    a.btn-info{
        color: $white;
    }

    .btn-close{
        cursor: pointer;
    }

    //.copy-container{
    //    transition: all 300ms ease-in;
    //    opacity: 1;
    //    &.copied{
    //        opacity: .6
    //    }
    //}

}

